---
import File from "./File.astro";
type Props = {
  title: string;
  href: string;
  posts: { title: string; href: string; date: Date }[];
};

const { title, href, posts } = Astro.props;
---

<h2><a href={href}>{title}</a></h2>
<p>
  <slot />
</p>
<ul>
  {
    posts.map(({ title, href, date }) => (
      <li>
        <File title={title} href={href} date={date} />
      </li>
    ))
  }
  <li>
    <File title="See more" href={href} date={null} />
  </li>
</ul>

<style lang="scss">
  @import "/src/variables.scss";

  a {
    text-decoration: none;
  }

  h2 {
    font-family: monospace;
  }
  ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    font-family: monospace;
    padding: 0;
  }
  p {
    font-family: monospace;
  }
</style>
