---
import File from "./File.astro";
type Props = {
  title: string;
  href: string;
  posts: { title: string; href: string; date: Date }[];
};

const { title, href, posts } = Astro.props;
---

<li class="listing">
  <h2 class="listing-header"><a href={href}>{title}</a></h2>
  <ul class="listing-posts">
    {
      posts.map(({ title, href, date }) => (
        <File title={title} href={href} date={date} />
      ))
    }
  </ul>
</li>

<style lang="scss">
  @import "src/variables.scss";
  .listing {
    flex: 1;
    display: inline;
    width: 100%;
    // margin: 0 5rem;
    &-posts {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      padding: 0;
    }
  }
</style>
