---
import {
  toReadableString,
  getSummary,
  hasMore,
  renderMarkdown,
} from "../../../utils";
import { getUrlForCollectionEntry } from "src/content/config";

export type Props = {
  post: {
    slug: string;
    body: string;
    data: { title: string; date: Date };
  };
  collection: "blog" | "weekly";
};

const {
  post: {
    slug,
    data: { title, date },
    body,
  },
  collection,
} = Astro.props;

const url = getUrlForCollectionEntry(collection, slug);

const content = await renderMarkdown(body);
---

<article>
  <div class="meta">
    <h4 class="title">
      <a href={url}>{title}</a>
    </h4>
    <div class="info">
      <div>{toReadableString(date)}</div>
    </div>
  </div>
  <section class="summary-content">
    <p set:html={getSummary(content)} />
  </section>
  {
    hasMore(content) ? (
      <p class="read-more">
        <a href={url}>Read More...</a>
      </p>
    ) : null
  }
</article>

<style lang="scss">
  @import "/src/variables.scss";
  h4 {
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 0.3em;
    // margin: 0 0 20px;

    a {
      color: $text-color;
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }
  }

  .read-more {
    text-align: right;
    line-height: 1em;
  }

  .info {
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    line-height: normal;
    @include dimmed;

    p {
      margin: 0.8em 0;
    }

    a:hover {
      border-bottom: 1px solid white;
    }

    svg {
      margin-right: 0.8em;
    }

    .tag {
      margin-right: 0.5em;

      &::before {
        content: "#";
      }
    }

    .feather {
      display: inline-block;
      vertical-align: -0.125em;
      width: 1em;
      height: 1em;
    }
  }
</style>

<style lang="scss" is:global>
  @import "/src/variables.scss";
  section.summary-content {
    p {
      line-height: 1.5rem;
    }
    li {
      line-height: 1.5rem;
    }
    code {
      font-family:
        Consolas,
        Monaco,
        Andale Mono,
        Ubuntu Mono,
        monospace;
      font-display: auto;
      font-feature-settings: normal;
      background: $background-color;
      padding: 1px 6px;
      margin: 0 2px;
      border-radius: 5px;
      font-size: 0.95rem;
    }
    a:has(code) {
      border-radius: 5px;

      position: relative;
      bottom: 1px;

      padding: 1px 6px;
      margin: 0 2px;
      background-color: $background-color;

      code {
        margin: 0;
        padding: 0;
        background-color: transparent;
      }
    }
  }
</style>
