---
import type { MarkdownInstance } from "astro";
import type { CollectionEntry } from "astro:content";
import { toMonthYear } from "src/utils";
import type { DegreeType } from "../schemas";
import { renderMarkdown } from "@astrojs/markdown-remark";

export interface Props {
  entry: CollectionEntry<"education">;
}
const {
  entry: {
    data: { degree, field, institution, graduation, gpa, hide },
    body,
  },
} = Astro.props;

const markdownResult = await renderMarkdown(body, {});
const content = markdownResult.vfile.value;

const gradDate = new Date(graduation);
---

<div class="education">
  <strong>{institution}</strong> / {degree} in {field} / {toMonthYear(gradDate)}
  <br />
  <span class="gpa">GPA: {gpa}</span>
  <div set:html={content}></div>
</div>

<style lang="scss">
  .gpa {
    color: gray;
  }
</style>

<style is:global lang="scss">
  .education p {
    margin: 0;
  }
</style>
