---
import type { CollectionEntry } from "astro:content";
import { renderMarkdown, toMonthYear } from "src/utils";

export interface Props {
  entry: CollectionEntry<"education">;
}
const {
  entry: {
    data: { degree, field, institution, graduation, gpa },
    body,
  },
} = Astro.props;

const content = renderMarkdown(body);

const gradDate = new Date(graduation);
---

<div class="education">
  <strong>{institution}</strong> / {degree} in {field} / {toMonthYear(gradDate)}
  <br />
  <span class="gpa">GPA: {gpa}</span>
  <div set:html={content}></div>
</div>

<style lang="scss">
  .gpa {
    color: gray;
  }
</style>

<style is:global lang="scss">
  .education p {
    margin: 0;
  }
</style>
