---
import { toMonthYear } from "../../utils";
import { getUrlForCollectionEntry } from "src/content/config";
import type { CollectionEntry } from "astro:content";
import Stars from "./Stars.astro";

export type Props = {
  post: CollectionEntry<"reading">;
};

const {
  post: {
    slug,
    data: { title, dateCompleted, author, rating },
  },
} = Astro.props;

const url = getUrlForCollectionEntry("reading", slug);
---

<tr class="book-entry">
  <td class="title"><a href={url}>{title}</a></td>
  <td class="author">{author}</td>
  <td class="date">{toMonthYear(dateCompleted)}</td>
  <td class="rating"><Stars rating={rating} /></td>
</tr>

<style lang="scss">
  @import "/src/variables.scss";

  .book-entry {
    padding: 0.75rem 0;
    border-bottom: 1px solid rgba($accent-color, 0.2);
    font-family: "Inter", sans-serif;

    &:last-child {
      border-bottom: none;
    }

    .author {
      color: $text-color;
    }

    // .title > a {
    //   text-decoration: underline;
    //   text-decoration-color: $text-color;
    //   padding-top: 0.1rem;

    //   &:hover {
    //     text-decoration: none;
    //     // background-color: rgba($text-color, 0.2);
    //   }
    // }

    .date {
      @include dimmed;
    }
    .rating {
      display: flex;
      align-items: center;
      margin: auto;
    }
    .genre {
      @include dimmed;
      display: flex;
      flex-wrap: wrap;
      gap: 0.5em;
      .tag {
        margin-right: 0.5em;
      }
    }
  }
</style>
