---
import { toMonthYear } from "../../utils";
import { getUrlForCollectionEntry } from "src/content/config";
import type { CollectionEntry } from "astro:content";
import Stars from "./Stars.astro";

export type Props = {
  post: CollectionEntry<"reading">;
};

const {
  post: {
    slug,
    data: { title, dateCompleted, author, rating },
  },
} = Astro.props;

const url = getUrlForCollectionEntry("reading", slug);
---

<div class="book-entry">
  <div class="title"><a href={url}>{title}</a></div>
  <div class="author">{author}</div>
  <div class="date">{toMonthYear(dateCompleted)}</div>
  <div class="rating"><Stars rating={rating} /></div>
</div>

<style lang="scss">
  @import "/src/variables.scss";

  .book-entry {
    display: contents;
    font-family: "Inter", sans-serif;
    @media #{$media-size-phone} {
      font-size: 0.9rem;
    }

    .title,
    .author {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .date {
      @include dimmed;
    }
  }
</style>
