---
import Nav from "../components/Nav.astro";
import Links from "../components/Links.astro";
import Barebones from "./Barebones.astro";

export interface Props {
  hideFooter?: boolean;
  path?: string;
  title: string;
  back?: string;
  description: string | null;
  rss?: string | undefined;
  card?: boolean | undefined;
}
const {
  hideFooter = false,
  path,
  title,
  back,
  description,
  rss,
  card,
} = Astro.props;
---

<Barebones title={title} description={description} rss={rss} card={card}>
  <Nav path={path} back={back} />
  <div id="base"><slot /></div>
  {
    !hideFooter ? (
      <footer>
        <Links />
      </footer>
    ) : null
  }

  <style lang="scss">
    @import "/src/variables.scss";

    div#base {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1rem;
      margin: 1rem 2rem;
      @media #{$media-size-phone} {
        margin: 0;
        align-items: center;
      }
      @media print {
        padding: 0;
        margin: 0;
      }
    }
    footer {
      padding-bottom: 1rem;
    }
    blockquote {
      border-left: 2px solid $accent-color;
      padding-left: 3px;
      & p {
        display: inline;
      }
    }
    @import "src/tufte.scss";
  </style>
</Barebones>
