---
import Base from "./Base.astro";
import Heading from "../components/blog/post/Heading.astro";
import Tags from "../components/blog/post/Tags.astro";
import type { MarkdownLayoutProps } from "astro";
import Pagination from "../components/blog/post/Pagination.astro";

type Props = MarkdownLayoutProps<{
  title: string;
  date: string;
  tags: string[];
}>;

const { frontmatter, file, url } = Astro.props;
const basename = file.split("/").pop() || "";
---

<Base path={"blog/" + basename} title={frontmatter.title} back="/blog">
  <article>
    <Heading {...Astro.props} url={url} />

    <div id="blog-post-content">
      <slot />
      <!-- <pre>{Astro.props.rawContent()}</pre> -->
    </div>

    <Tags tags={frontmatter.tags} />
    <hr />
    <Pagination page={Astro.props} />
  </article>
</Base>

<style lang="scss">
  @import "../variables.scss";
  article {
    width: 95%;
    max-width: 75ch;
    padding: 20px;
    // margin: 1rem 2rem;
  }
</style>

<!-- We need global styles here so that the css will
     apply to the generated markdown content inside the slot. -->
<style lang="scss" is:global>
  @import "../variables.scss";
  #blog-post-content {
    line-height: 1.5rem;
    p {
      font-size: 13pt;
      margin-top: 1.5rem;
      margin-bottom: 0;
    }
    li {
      p {
        margin-top: 0;
      }
    }
    img {
      max-width: 100%;
      border-radius: 5px;
    }
    figcaption {
      @include dimmed;
      text-align: center;
    }
    td {
      vertical-align: top;
    }
  }
  code {
    font-family: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
    font-display: auto;
    font-feature-settings: normal;
    background: $background-color;
    padding: 1px 6px;
    margin: 0 2px;
    border-radius: 5px;
    font-size: 0.95rem;
  }
  pre {
    background: #212020;
    padding: 20px;
    border-radius: 8px;
    font-size: 0.8rem;
    line-height: 1.25;
    overflow: auto;

    @media #{$media-size-phone} {
      white-space: pre-wrap;
      word-wrap: break-word;
    }

    code {
      background: none !important;
      color: #ccc;
      margin: 0;
      padding: 0;
      font-size: inherit;
    }
  }
</style>
