---
import type { Page } from "astro";
import type { CollectionEntry } from "astro:content";
import Pagination from "src/components/Pagination.astro";
import PostEntry from "src/components/blog/list/PostEntry.astro";
import Base from "./Base.astro";

type Props = {
  page: Page<CollectionEntry<"blog">> | Page<CollectionEntry<"weekly">>;
  path: string;
  title: string;
  description: string;
  collection: "blog" | "weekly";
};

const { page, path, title, description, collection } = Astro.props;
const rss = collection === "weekly" ? "/newsletter.xml" : undefined;
---

<Base path={path} title={title} description={description} rss={rss}>
  <div class="container">
    <slot />
    <section id="list">
      {page.data.map((p) => <PostEntry post={p} collection={collection} />)}
      <div class="pagination">
        <Pagination page={page} base={collection} />
      </div>
    </section>
  </div>
</Base>

<style lang="scss">
  @import "/src/variables.scss";

  div.container {
    width: 95%;
    max-width: 75ch;
  }

  #list {
    width: 100%;
    margin: 1rem 0;
  }

  div.pagination {
    width: 100%;
    display: flex;
    justify-content: center;
  }
</style>
